
<h3>La tua votazione verificata</h3>

<p>
<b><u>IMPORTANTE</u></b>: questa votazione, ora che è stata verificata, <em>non sarà conteggiata</em>.<br />
Per inviare una votazione valida, devi cliccare sul bottone "Torna al voto" qui sotto, re-criptarlo e scegliere "invia" invece di "verifica".
</p>

<p>
<b>Perché?</b> Helios ti impedisce di verificare e inviare un voto allo stesso tempo, per darti una protezione aggiuntiva contro la coercizione.
</p>

<p>
<b>E ora?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Seleziona le informazioni di verifica del tuo voto</a>, copiala negli appunti, quindi usa il <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificatore di voto</a> per verificarlo.<br />
Se sei soddisfatto, fai click su "torna al voto" per re-criptare ed inviare il tuo voto.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Prima di tornare a votare,<br />
puoi pubblicare questo voto verificato sul Centro tracciamento voti in modo che altri possano controllare a loro volta le verifica di questo voto.
<br /><br />
<b>Anche nel caso in cui pubblichi un voto verificato, tu devi tornare al voto e scegliere "invia" se vuoi che il tuo voto venga conteggiato.</b>
<br /><br />
<input type="button" value="torna al voto" onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot();" class="pretty" />
&nbsp; &nbsp;&nbsp;
<input type="button" value="pubblica il voto verificato nel centro di tracciamento" onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot();" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;"/>

</form>




