
<div id="questions_div">
<p>
    Per inviare un voto, sarai guidato attraverso i seguenti passi.<br />
    Se non hai ancora eseguito l'accesso, ti verrà chiesto di farlo alla fine del processo.
<p>
    
<ol>
    <li> <b>Seleziona</b> le tue preferenze.<br />
<span style="font-size: 14pt;">Puoi facilmente navigare avanti ed indietro.</span></li>
<br />

    <li> <b>Revisiona &amp; conferma</b> le tue preferenze.<br />
<span style="font-size: 14pt;">
    Le tue preferenze sono criptate in modo sicuro dentro il tuo browser e riceverai un'impronta univoca di voto.<br />
</span>
</li>
<br />

    <li> <b>Invia</b> il tuo voto criptato.<br />
<span style="font-size: 14pt;">
    Ti verrà richiesto di eseguire l'accesso per inviare il tuo voto criptato per il conteggio.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Inizia</button></div>
</div>

