
{#if $T.election_metadata.use_advanced_audit_features}
<div style="float: right; background: lightyellow; margin-left: 20px; padding: 0px 10px 10px 10px; border: 1px solid #ddd; width:200px;">
<h4><a onclick="$('#auditbody').slideToggle(250);" href="#">Verifica</a> <span style="font-size: 0.8em; color: #444">[opzionale]</span></h4>
<div id="auditbody" style="display:none;">
<p>
    Se 
Se selezioni questa scelta, puoi verificare il tuo voto e mostrare come le tue scelte sono state criptate.
</p>
<p>
    Sarai quindi guidato per re-criptare il tuo voto per l'invio finale.
</p>
<input type="button" value="Verifica cifratura" onclick="BOOTH.audit_ballot();" class="pretty" />
</p>
</div>
</div>
{#/if}

<h3>Revisiona il tuo voto</h3>


<div style="padding: 10px; margin-bottom: 10px; background-color: #eee; border: 1px #ddd solid; max-width: 340px;">
{#foreach $T.questions as question}

<b>Domanda #{$T.question$index + 1}: {$T.question.short_name}</b><br>
{#if $T.choices[$T.question$index].length == 0}
<div style="margin-left: 15px;">&#x2610; <i>Nessuna scelta selezionata</i></div>
{#/if}
{#foreach $T.choices[$T.question$index] as choice}
<div style="margin-left: 15px;">&#x2713; {$T.choice}</div>
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
[hai scelto {$T.choices[$T.question$index].length} candidati; ne puoi scegliere da {$T.question.min} fino a {$T.question.max}]
{#/if}
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">modifica risposte</a>]
{#if !$T.question$last}<br><br>{#/if}
{#/for}
</div>


<p><p>La tua impronta di voto è <b><tt style="font-size: 11pt;">{$T.encrypted_vote_hash}</tt></b>, e tu puoi <a onclick="BOOTH.show_receipt(); return false;" href="#">stamparla</a>.<br /><br /></p>

<p>
    Una volta che hai cliccato su "Invia", la versione non criptata del tuo voto sarà distrutta, e rimarrà solo la versione criptata. La versione criptata sarà inviata al server per le elezioni.</p>

<button id="proceed_button" onclick="BOOTH.cast_ballot();">Invia il tu voto!</button><br />
<div id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>
