{% extends 'server_ui/templates/base.html' %}
{% block title %}Conferma del Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_div').hide();
  $('#waiting_div').show();
}
</script>
<h1>Conferma il tuo Voto!</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>Il tuo voto:</h3>

<p style="font-size:1.6em;">
    <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
<h3>Esprimi il tuo voto inserendo le credenziali di accesso</h3>

<form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<table>
{{form.as_table}}
</table><br />

    <input type="submit" value="cast this ballot" /><br /><br />
</form>

<p>
    Hai dimenticato la password? <a href="{% url "auth@password@forgotten" %}?return_url={% url "election@cast-confirm" %}">Recupera le credenziali via email</a>.<br />(...non preoccuparti, il tuo voto non andr&#224; perso).
</p>
</div>

<div id="waiting_div" align="center">
  Verifica del tuo voto<br />
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}
