{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>Helios offre <b>elezioni online verificabili</b>.</p>

<p>Crediamo che la democrazia sia importante, sia che tu sia un club letterario, un'associazione genitori-insegnanti, gruppo studentesco, unione dei lavoratori, o uno stato. Per questo abbiamo reso le elezioni veramente verificabili semplici da usare come tutto il resto del Web.</p>

<p>
Le elezioni Helios sono:
<ul class="disc">
<li><b>anonime</b>: nessuno sa chi hai votato.</li>
<li><b>verificabile</b>: ogni voto riceve un'impronta univoca.</li>
<li><b>collaudato</b>: Helios è open-source, controllato dai migliori esperti e usato da grandi organizzazioni in tutto il mondo.</li>
</ul>

<p>
Più di <b>2,000,000 votes</b> sono stati inviati con Helios.
</p>

{% if create_p %}
<a class="button" href="{% url "elections@new" %}">crea un elezione</a>
{% endif %}

  {% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> da {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>nessuna elezione in primo piano al momento</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">crea elezione</a>
<h5 class="subheader">Amministrazione</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>ancora niente</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">vedi tutto</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">Voti recenti</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>ancora niente</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">vedi tutto</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Accedi per cominciare a votare</h5>
{{login_box|safe}}
{% else %}
<p>
Per esprimere il tuo voto, seleziona una votazione. Le credenziali di accesso ti verranno chieste solo dopo il completamento della procedura di voto.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
