Per favore inserisci il tuo ID e password che hai ricevuto per email.<br /><br />
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<table>
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;">
ID o password errati, per favore prova di nuovo.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="small">
Puoi inviare quanti voti vuoi:<br />solo l'ultimo viene conteggiato.
</p>
<input type="submit" class="button" value="cast ballot" />
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>

