{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Voto inviato con successo!</h1>

<p>
    Congratulazioni, il tuo voto è stato <b><u>inviato con successo</u></b>!
</p>

<p>
  La tua impronta univoca di voto è:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

{% if logout %}
<p><b>Per la tua sicurezza, è stato effettuato il log out.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">ritorna alle info sulle elezioni</a> ]
</p>

{% endblock %}
