{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{ election.name }} – Registrati</h2>

{% if user %}
<p>
    Hai effettuato l'accesso come {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    Sei già registrato per questa elezione.
</p>
{% else %}
<p>
    Tu <em>non</em> sei registrato per questa elezione.
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
<input type="submit" value="register!" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}