{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('{% url "election@get-randomness" election.uuid %}', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
    $('#pk_content').show();
    $('#sk_content').html(jQuery.toJSON(SECRET_KEY));
}

function download_sk_to_file(filename) {
    var element = document.createElement('a');
    element.setAttribute('href','data:text/plain;charset=utf-8,'+ encodeURIComponent(jQuery.toJSON(SECRET_KEY)));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_content').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<h2 class="title">{{election.name}} &mdash; Fiduciari {{trustee.name}} &mdash; Imposta chiave</h2>

<p>
    Come fiduciario, è il momento di impostare la tua chiave per questa elezione.
</p>

<p id="waiting_message">
    Attendere il caricamento del generatore...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Genera le chiavi per l'elezione</button></span>

<br />
Se hai già generato una coppia di chiavi, tu puoi <a href="javascript:show_key_reuse()">riusarla</a>.
</p>

<div id="reuse">
<h3>Riussare una chiave</h3>

<p>
Inserisci la tua chiave segreta completa qui sotto:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input type="submit" value="reuse" />
</form>
</div>

<div id="sk_download">
<h3>La tua chiave segreta</h3>
<span id="clear_button">
    La tua chiave è stata generata, puoi scegliere se <br /><a href="javascript:clear_keys();">cancellarla dalla memoria e ricominciare da capo</a> se preferisci.<br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk(); $('#pk_link').show();">Mostra la mia chiave segreta</button>
</p>
</div>

<div style="display:none;" id="pk_content">
    <p>Di seguito il contenuto della tua chiave segreta di fiduciario. Per favore copiala e salvala in un luogo sicuro. <br>
       Puoi anche cliccare per scaricarla in un file.
       E ricorda: non perderla! Altrimenti non sarà più possibile decriptare il conteggio dell'elezione.<br>
    </p>
    <textarea id="sk_content" rows="5" wrap="soft" cols="50" style="height: 25em;"></textarea>
</div>

<div style="display:none;" id="pk_link">
<p>
<a id="download_to_file" href="javascript:download_sk_to_file('trustee_key_for_{{election.name}}.txt');">scarica la chiave privata in un file</a>
</p>
<p>
  <a href="javascript:show_pk();">ok, ho salvato il file, andiamo avanti</a>
</p>
</div>

<form method="post" id="pk_form" action="{% url "election@trustee@upload-pk" election.uuid trustee.uuid %}">
<h3>La tua chiave pubblica</h3>
<p>
    È il momento di caricare la chiave pubblica sul server.
</p>
<p>
    Il fingerprint della tua chiave pubblica è: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    Puoi salvarlo per confermare che la tua chiave pubblica è stata caricata correttamente sul server.<br />
    (La tua chiave pubblica non è al momento mostrata perché non hai bisogno di salvarla, il fingerprint è sufficiente.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="Upload your public key">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
