{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Congela la votazione</h2>
<p>
  Una volta che la votazione è congelata, le domande e le opzioni non potranno più essere modificate.<br />
Saranno congelate anche la lista dei fiduciari e le loro chiavi pubbliche.
</p>

<p>
{% if election.openreg %}
La registrazione per la tua elezione è al momento <b>aperta</b>, il che significa che chiunque può votare, anche dopo che hai congelato la votazione.
{% else %}
La registrazione per la tua elezione è al momento <b>chiusa</b>, il che significa che solo i votanti che tu hai designato potranno votare. Come amministratore, tu potrai modificare la lista dei votanti anche durante le elezioni.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
  Devi congelare la votazione prima che di poter votare.
</p>
{% endif %}

{% if issues_p %}
<p>
  Prima di poter congelare questa votazione, devi:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">torna all'elezione</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Freeze the ballot" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">non importa</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
