{% extends TEMPLATE_BASE %}
{% block title %}Conferma il Voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">Inviando il voto per <b>{{election.name}}</b>...</p>

<div id="waiting_div">
    Stiamo verificando ed inviando il tuo voto<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% if user %}
<h1>Aspetta!</h1>
<p>
Hai fatto l'accesso come <u>{{user.display_html_small|safe}}</u>, ma questa elezione<br />
richiede delle credenziali specifiche.
</p>
{% endif %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Ci dispiace!<h1>
<b>Ci dispiace, tu sei <em>
  {% if election.openreg %}
    <u>non idoneo</u></em> per questa elezione.
  {% else %}
    non registrato</em> per questa elezione, e le registrazioni sono chiuse.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">torna alla pagina principale dell'elezione</a>]
</p>
{% else %}
<p>
<h1>Aspetta!  Devi prima eseguire l'accesso.</h1>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Questa elezione è aperta per <em>tutti</em>, quindi puoi fare l'accesso con l'account che preferisci.
  {% endif %}

{% else %}
  Questa elezione è aperta solo per i <em>votanti registrati</em>, quindi fai l'accesso con 
  lo stesso account con cui ti sei registrato.
{% endif %}
</p>

{{login_box|safe}}

<br />
Non ti preoccupare, ci ricorderemo del tuo voto mentre fai l'accesso
{% endif %}

{% endif %}
<br />
La tua impronta univoca di voto è:<br /><br />
    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
