{% extends TEMPLATE_BASE %}

{% block title %}Audited Ballots for {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Votazioni Verificate <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">torna all'elezione</a>]</span></h2>

<p>
  Quando prepari una votazione con Helios, riceverai immediatamente un'impronta di voto univoca. Prima di inviare un voto, avrai l'opzione di chiedere ad Helios di "forzare" quella votazione criptata e verificare che Helios ha criptato la tua votazione correttamente. Una volta fatto, puoi copiare la votazione qui, nella lista delle votazioni verificate, in modo che tutti possano verificare (la tua identità non è inclusa). Una volta fatto questo, puoi re-criptare le tue scelte di voto ed ottenere una nuova impronta di voto univoca. Questo aiuta a ridurre la possibilità che qualcuno possa costringerti a votare in modo diverso dalla tua volontà.
</p>

<p>
  Queste votazioni <em>non sono inviate</em>, e non saranno conteggiate. Sono qui solo per scopo di verifica, per controllare che Helios sta criptando correttamente le scelte dei votanti.
</p>

<p>
  Per verificare una votazione, copia tutto il suo contenuto e incollalo nel <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}"></a>verificatore di voto</a>.
</p>

{% if audited_ballots %}
<p>
Votazioni verificate {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">succ. {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="?">back to start</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">succ. {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">guarda</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>ancora nessuna votazione verificata</em>
{% endif %}

{% endblock %}
