{% extends TEMPLATE_BASE %}

{% block title %}Calcola il conteggio criptato per {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">Calcola conteggio per l'elezione: {{election.name}}</h2>

<div id="instructions">
{% if election.num_cast_votes %}
<p>
    Stai per calcolare il conteggio criptato per l'elezione <b>{{election.name}}</b>.
</p>

<p>
  Una volta cominciato, i votanti non potranno più inviare voti.
</p>

<form method="post" action="" onsubmit="alert('ok, tally has begun')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="compute encrypted tally!" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">non importa</button>
</form>
{% else %}
<p>
  Nessun voto è stato inviato per questa elezione. Almeno un voto deve essere inviato prima che tu possa calcolare il conteggio.
<br /><br />
<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>
</p>
{% endif %}
</div>

<br /><br />
{% endblock %}
