{% extends TEMPLATE_BASE %}
{% block title %}Statistiche{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">elezioni</a></li>
<li> <a href="{% url "stats@recent-votes" %}">voti recenti</a></li>
<li> <a href="{% url "stats@elections-problems" %}">elezioni recenti problematiche</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> voti in coda. {% if num_votes_in_queue %}[<a href="{% url "stats@force-queue" %}">forzali</a>]{% endif %}</p>

{% endblock %}
