{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Cerca votanti per '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>]</span></h2>

{% if voter %}
Votante trovato: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">invia email a questo votante</a>
{% else %}
una volta che l'elezione è congelata, potrai inviare una mail a questo votante.
{% endif %}
{% else %}
<em>nessun votante trovato</em>
{% endif %}

{% endblock %}