{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Caricamento collettivo votanti &mdash; Conferma<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>]</span></h2>

<p>
  Hai caricato un file di elettori. Le prime righe di questo file sono:
</p>

<table>
<tr><th>Login elettore</th><th>Indirizzo email</th><th>Nome</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
ASPETTA:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">non importa, carica un altro file</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  Sembra corretto?
  <input type="hidden" name="confirm_p" value="1" />
  <input type="submit" value="Sì, vai avanti" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">no, fammi caricare un altro file</a>

{% endif %}

{% endblock %}
