{% extends TEMPLATE_BASE %}

{% block title %}Contatti dei votanti per {{election.name}}{% endblock %}
{% block content %}
<script>
var voter_id = null;
{% if voter %}
voter_id = '{{voter.voter_id}}';
{% endif %}
</script>

  <h2 class="title">{{election.name}} &mdash; Contatti dei votanti <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>]</span></h2>

{% if voter %}  
  <p>
    Stai mandando questa mail a uno specifico utente: <b>{{voter.name}} ({{voter.voter_id}})</b>
  </p>
{% endif %}

<p>
<b>Modelli</b>:

{% for template_option in templates %}
{% if template_option.0 == template %}
<b>{{template_option.1}}</b>
{% else %}
<a href="?template={{template_option.0}}&voter_id={{voter.voter_login_id}}">{{template_option.1}}</a>
{% endif %}
&nbsp;&nbsp;&nbsp;
{% endfor %}

<pre style="margin:10px; border: 1px solid #888; padding:20px">
Oggetto: {{default_subject}}

{{default_body|safe}}
</pre>

<p>
  Puoi modificare l'oggetto e aggiungere un messaggio personalizzato usando il modulo qui sotto.
</p>

  <form class="prettyform" action="" method="POST" id="email_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="template" value="{{template}}" />
    <input type="hidden" name="voter_id" value="{{voter.voter_login_id}}" />
    <table class="pretty">
     {{email_form.as_table}}
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="Send" id="send_button" class="button" />
  </div>
  </form>
  
  <div id="processing">
  </div>
  
  <div id="done" style="display:none;">
    Fatto, vai <a href="{% url "election@view" election.uuid %}">torna all'elezione</a>.
  </div>

  <div id="error" style="display:none;">
    Problema nell'invio dell'email ai partecipanti. Controlla le impostazioni del server, assicurati che cis sia il server SMTP.
  </div>

{% endblock %}
