{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Gestisci votanti <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>]</span></h2>

<form method="get" action="{% url "helios.views.voters_search" election.uuid %}"><b>cerca</b>: <input type="text" name="q" /> <input type="submit" value="search" /></form>

{% if upload_p %}
<p><a href="{% url "election@voters@upload" election_uuid=election.uuid %}">caricamento collettivo votanti</a></p>
{% endif %}

Votanti {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;

{% if next_after %}
<a href="./manage?after={{next_after}}&offset={{offset_plus_limit}}">succ. {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="./manage">torna all'inizio</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="./manage?after={{next_after}}&offset={{next_offset}}">succ. {{limit}}</a>
{% endif %}

<table class="pretty">
<tr><th>Alias</th><th>Nome</th><th>Username</th></tr>
{% for voter in voters %}
<tr><td>{{voter.alias}}</td><td>{{voter.name}}</td><td>{{voter.voter_id}}
{% if election.frozen_at %}
{% else %}
[<a onclick="return confirm('are you sure you want to remove {{voter.name}} ?');" href="{% url "election@voter@delete" election.uuid voter.uuid %}">x</a>]
{% endif %}
</td></tr>
{% endfor %}
</table>


{% endblock %}
