{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Caricamento collettivo elettori <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">torna all'elezione</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
    Se vuoi specificare una lista di elettori con nome ed indirizzo email,<br />
    puoi caricare una lista di elettori qui.<br /><br />
    
    Per favore prepara un file di testo separato da virgole con questi campi:
</p>
<pre>
   &lt;unique_id&gt;,&lt;email&gt,&lt;full name&gt;
</pre>

<p>
For example:
  </p>
  <pre>
      benadida,ben@adida.net,Ben Adida
      bobsmith,bob@acme.org,Bob Smith
      ...
  </pre> 

  <p>
    Il modo più semplice per preparare questo file è usare un foglio di calcolo ed esportare come "CSV".
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="go" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, ho finito di caricare.<br />
  Adesso puoi <a href="./manage">vedere la lista degli elettori</a>.
</div>

{% endblock %}
